html {
    background: url(papel.jpg) no-repeat center fixed; 
    background-size: cover;
}
body{
  font-family: "Courier New";
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

h1{
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
